<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="InputBoxLocal" value="eng/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="InputBoxLocal">
      <package pattern="InputWeave.GameInput" />
      <package pattern="InputWeave.*" />
      <package pattern="inputweave.gameinput" />
      <package pattern="inputweave.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
